SUPABASE_JWT_SECRET="W84ZGoZrENCEzhWe8Jl21er0ZqtYHJpWJ93IS+ZpatkZcTVlVGjBeNqIL33dIPfQzzu54Efog59aGEombXP2qQ=="
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6Y2ZzY3VzYm9meWVmcmF3a3hjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk2NDIwMTIsImV4cCI6MjA4NTIxODAxMn0.t2NTGP0QK2WKPHHtS2sjxuCI4cHkpz8nJNnR2o5ETss"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6Y2ZzY3VzYm9meWVmcmF3a3hjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTY0MjAxMiwiZXhwIjoyMDg1MjE4MDEyfQ.HTfrn567UbRIfC7ufrSbcx6TiUHyt3iWf19HKQ6k12c"
SUPABASE_URL="https://czcfscusbofyefrawkxc.supabase.co"